#active-page {
    border-bottom: 1px solid rgb(56, 201, 97);
}

a {
    transition: 0.3s;
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: rgb(56, 201, 97);
}

.nav-bar {
    font-size: 35px;
    text-transform: uppercase;
    text-align: right;
    width: 100%;
}

.nav-bar ul {
    padding: 15px 45px;
    list-style-type: none;
}

.nav-bar li {
    display: inline-block;
    padding: 0 30px;
}

.copyright {
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 15px;
}