hr {
    width: 400px;
    float: right;
    margin-top: -40px;
}

#main-container {
    position: absolute;
    width: var(--main-container-width);
    height: 500px;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

#projects {
    list-style: none;
}

#projects li {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 175px;
    height: 175px;
}

.category {
    margin-top: 50px;
    margin-bottom: 25px;
}

.project,
.project-coming-soon {
    position: absolute;
    width: 100%;
    height: 100%;
}

.project a,
.project-coming-soon a {
    color: #000000;
}

.project .content,
.project-coming-soon .content {
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #000000;
    background-color: #ffffff;
    transition: 0.2s;
}

.project-coming-soon .content {
    border: 1px solid black;
    background-color: #f1f1f1;
}

.project .content:hover {
    box-shadow: -5px 5px #368FF5;
    margin-left: 10px;
    margin-top: -10px;
}

.project-coming-soon .content:hover {
    box-shadow: -5px 5px #a0a0a0;
    margin-left: 10px;
    margin-top: -10px;
}

.project .content .title,
.project-coming-soon .content .title {
    font-size: 15px;
    text-align: center;
    margin: 0 2px;
}

.project .content .description,
.project-coming-soon .content .description {
    font-size: 12px;
    margin: 0 5px;
}

@media (max-width: 800px) {
    hr {
        width: 300px;
    }

    #main-container {
        width: 98%;
    }
}

@media (max-width: 700px) {
    hr {
        width: 250px;
    }
}

@media (max-width: 700px) {
    hr {
        width: 200px;
    }
}

@media (max-width: 600px) {
    hr {
        visibility: hidden;
    }
}

@media (max-width: 400px) {
    #projects li {
        width: 150px;
    }
}
