* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --link-color: #334e74;
    --link-hover-color: rgb(136, 57, 175);
}

body {
    font-family: 'Roboto Mono', monospace;
    color: #4d5156;
    width: 800px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    cursor: pointer;
}
