footer {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    border-top: 1px dotted #c0c0c0;
}

footer ul {
    margin-top: 10px;
    list-style: none;
}

footer ul li {
    display: inline;
}

footer ul li a {
    padding: 2px 10px;
}

footer ul li a i { 
    font-size: 26px !important;
    margin: 5px 0;
}
