nav {
    height: 45px;
}

nav #name {
    float: left;
    font-size: 32px;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: right;
    display: inline;
    position: relative;
    top: 10px;
}

nav ul li a {
    font-size: 18px;
    padding: 5px 10px;
}
