.title {
    font-size: 20px;
    padding-bottom: 20px;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

a {
    color: white;
    text-decoration: none;
}

.contact {
    position: relative;
    text-align: left;
    margin-bottom: 35px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 200;
    color: #474747;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.contact-options {
    position: relative;
    width: 100%;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.contact-options li {
    display: inline-block;
    margin: 5px 20px;
}

.contact-options button {
    border: none;
    color: white;
    background-color: #292929;
    cursor: pointer;
    padding: 8px 30px;
    font-size: 15px;
}

.contact-options button:hover {
    background-color: #474747;
}

@keyframes appear-from-bottom {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0 ,0);
    }
}
