.contact {
    position: relative;
    text-align: left;
    margin-bottom: 35px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 200;
    color: #474747;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}
