.nav-section table {
    width: 100%;
    text-align: center;
}

.nav-section {
    padding: 0;
    margin: 0;
}

.nav-section a {
    text-decoration: none;
    color: black;
}

.nav-section a:hover {
    color: #797979;
}

.title {
    font-size: 20px;
    padding-bottom: 20px;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.header-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-slider {
    position: relative;
    width: 100%;
}

.image-slider video {
    width: 100%;
    height: auto;
}

.image-slider-button {
    position: relative;
    text-align: center;
    width: 100%;
}

.image-slider-button button {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #292929;
    padding: 8px 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.image-slider-button button:hover {
    background-color: #474747;
}

.project {
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.project h1 {
    padding-bottom: 20px;
}

.project table {
    width: 100%;
}

.project td {
    text-align: left;
    vertical-align: top;
    padding: 20px 0;
}

.project-table td:nth-child(1) {
    width: 15%;
}

.link {
    color: #797979;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
    color: #b5b5b5;
}

.project-information, .code-snippets {
    width: 100%;
}

.project-information th, .code-snippets th, .nav-section th {
    line-height: 20px;
    background-color: #d6d6d6;
}

.project-information td, .code-snippets td, .nav-section td {
    width: auto;
    padding-left: 3px;
}

.project-information tr:nth-child(even), .code-snippets tr:nth-child(even), .nav-section tr:nth-child(even) {
    background-color: #f5f5f5;
}

.code-snippets td {
   padding: 5px;
}

.code-snippets td:nth-child(1) {
    width: 80%;
}

.source-code-link {
    text-decoration: none;
    color: #5050db;
}

.source-code-link:hover {
    border-bottom: 1px solid #5050db;
}

.back-to-top {
    float: right;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #b5b5b5;
    cursor: pointer;
    padding: 8px 30px;
    font-size: 15px;
}

.back-to-top:hover {
    background-color: #cfcfcf;
}

@keyframes appear-from-bottom {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0 ,0);
    }
}
