html {
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

.skills-button {
    position: relative;
    width: 100%;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.skills-button li {
    display: inline-block;
    margin: 5px 20px;
}

.skills-button button {
    border: none;
    color: white;
    background-color: #292929;
    cursor: pointer;
    padding: 8px 30px;
    font-size: 15px;
}

.skills-button button:hover {
    background-color: #474747;
}

.skills {
    text-align: left;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.title {
    font-size: 20px;
    padding-bottom: 20px;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.categories {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 35px;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.part {
    width: 100%;
    line-height: 35px;
}

.part td {
    width: 100%;
}

.part tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.part td:nth-child(2) {
    text-align: right;
}

@keyframes appear-from-bottom {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0 ,0);
    }
}
