.skills {
    text-align: left;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.categories {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 35px;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.part {
    width: 100%;
    line-height: 35px;
}

.part td {
    width: 100%;
}

.part tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.part td:nth-child(2) {
    text-align: right;
}

@keyframes appear-from-bottom {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0 ,0);
    }
}
