.about-me {
    width: 100%;
    text-align: center;
    padding-top: 3%;
}

.page-header {
    width: 275px;
    margin: 0 auto;
    font-size: 50px;
    border-bottom: 1px solid rgb(56, 201, 97);
}

.about-me p {
    font-size: 25px;
}
