:root {
    --text-color: rgb(255, 255, 255);
    --grey-color: rgb(192, 192, 192);
    --orange-color: rgb(255,163,26);
}

.about-me {
    position: absolute;
    margin-top: 115px;
    margin-left: 210px;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 3px solid var(--orange-color);
    width: 305px;
}

.content {
    padding: 225px 600px 0px 300px;
    font-size: 20px;
    line-height: 1.3;
}

.picture {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 225px;
    margin-right: 150px;
}
