body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: rgb(41, 41, 41);
}

.about-me {
    width: 100%;
    text-align: center;
    padding-top: 3%;
}

.about-me h2 {
    width: 175px;
    margin: 0 auto;
    font-size: 35px;
    border-bottom: 1px solid rgb(56, 201, 97);
}

.about-me p {
    font-size: 25px;
}
