.projects {
    text-align: center;
    padding-top: 3%;
}

.projects h2 {
    width:  275px;
    margin: 0 auto;
    font-size: 50px;
    border-bottom: 1px solid rgb(56, 201, 97);
}

.projects ul {
    list-style-type: none;
}

.projects li {
    transition-duration: 0.3s;
    background-color: rgb(36, 36, 36);
    display: inline-block;
    padding: 0 auto;
    margin: 40px 70px;
}

.projects li:hover {
    background-color: rgb(30, 30, 30);
    color: rgb(56, 201, 97);
}

.projects img {
    border: 5px solid rgb(36, 36, 36);
}

.projects h1 {
    border-bottom: 1px solid rgb(56, 201, 97);
    width: 40%;
    margin: 15px auto;
}
