.projects {
    text-align: center;
    padding-top: 3%;
}

.page-header {
    width:  275px;
    margin: 0 auto;
    font-size: 50px;
    border-bottom: 1px solid rgb(56, 201, 97);
}

.projects-list {
    list-style-type: none;
}

.projects-list li {
    transition-duration: 0.3s;
    background-color: rgb(36, 36, 36);
    display: inline-block;
    padding: auto;
    margin: 40px 70px;
    max-width: 425px;
    max-height: 239px;
}

.projects-list li:hover {
    background-color: rgb(30, 30, 30);
    color: rgb(56, 201, 97);
}

.projects-list img {
    border: 5px solid rgb(36, 36, 36);
}

.project-title {
    border-bottom: 1px solid rgb(56, 201, 97);
    width: 40%;
    margin: 15px auto;
}

.more-projects {
    text-align: center;
    margin: 100px 0;
}

.more-projects a {
    border-bottom: 1px solid rgb(56, 201, 97);
}
