#main-container {
    position: absolute;
    width: 850px;
    height: 500px;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

#content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: auto;
}


@media (max-width: 850px) {
    #main-container {
        width: 98%;
    }
}
