body {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: rgb(41, 41, 41);
}

a {
    color: white;
    transition: 0.3s;
}

a:hover {
    color: rgb(56, 201, 97);
    border: none;
}

.back {
    margin-left: 30px;
    position: fixed;
    font-size: 30px;
    padding: 5px 10px;
    text-transform: uppercase;
    border-left: 5px solid rgb(56, 201, 97);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(38, 38, 38);
}

.copyright {
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 15px;
}