body {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: rgb(41, 41, 41);
}

a {
    color: white;
    border-bottom: 1px solid rgb(56, 201, 97);
    transition: 0.3s;
}

a:hover {
    color: rgb(56, 201, 97);
    border: none;
}

.back {
    position: fixed;
    font-size: 30px;
    padding-left: 30px;
    text-transform: uppercase;
}

.copyright {
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 15px;
}