.header {
    text-align: center;
    padding-top: 3%;
}

.project-title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(56, 201, 97);
    margin: 0 auto;
    width: 750px;
}

.first-look {
    text-align: center;
}

.first-look img {
    border: 1px solid rgb(56, 201, 97);
}

.info {
    text-align: center;
}

.info h3 {
    font-size: 25px;
    border-bottom: 1px solid rgb(56, 201, 97);
    width: 300px;
    margin: 0 auto;
}

.info p {
    font-size: 20px;
    width: 65%;
    margin: 10px auto;
}

.info ul {
    font-size: 20px;
}

.info img {
    border: 1px solid rgb(56, 201, 97);
    display: inline-block;
}

.first-look, .the-project, .learnt, .information, .pictures-videos {
    background-color: rgb(38, 38, 38);
    border-left: 5px solid rgb(56, 201, 97);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 900px;
    margin: 20px auto;
    padding: 20px 0;
}