:root {
    --text-color: rgb(255, 255, 255);
    --grey-color: rgb(192, 192, 192);
}

.blocks h5 {
    width: 100%;
    background-color: rgb(18, 20, 26);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    text-transform: uppercase;
}

.blocks ul {
    list-style: none;
}

.list-header {
    padding-top: 30px;
    padding-bottom: 5px;
    color: var(--grey-color);
    font-style: italic;
}

.address, .contact {
    width: 400px;
    height: 450px;
    margin: 165px 275px;
    position: absolute;
    background-color: rgb(22, 25, 31);
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
}

.contact {
    right: 0;
}