.contact {
    padding-top: 5%;
    width: 100%;
    text-align: center;
}

.contact p {
    font-size: 35px;
}

.contact-options-list {
    list-style-type: none;
    font-size: 35px;
}

.contact-options-list li {
    display: inline-block;
}

.contact-options-list li:hover {
    border-bottom: 1px solid rgb(56, 201, 97);
    cursor: pointer;
}

/* The contact icon before each <li> */
.contact-options-list i {
    color: rgb(56, 201, 97);
}
