.contact {
    padding-top: 5%;
    width: 100%;
    text-align: center;
}

.contact p {
    font-size: 35px;
}

.contact ul {
    list-style-type: none;
    font-size: 35px;
}

.contact li {
    display: inline-block;
}

.contact li:hover {
    border-bottom: 1px solid rgb(56, 201, 97);
    cursor: pointer;
}

.contact i {
    color: rgb(56, 201, 97);
}
