* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#navbar {
    width: 100%;
    height: 70px;
    background-color: #4865db;
}

#navbar #selfie {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
}

#projects-container {
    width: 1100px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding-bottom: 100px;
}

.project {
    width: 500px;
    height: 335px;
    list-style: none;
    display: inline-block;
    margin: 0 24px;
    margin-top: 50px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 17px #d8d8d8;
}

.project .chart {
    width: 470px;
    height: 270px;
    margin: 15px 3%;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 9px #eeeeee;
}

.project .controls {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
}

.project .controls button {
    width: 90px;
    border-radius: 50px;
    height: 22px;
    color: #FFFFFF;
    background-color: #4865db;
    border: none;
    transition: 0.2s;
    text-align: center;
    font-weight: bold;
}

.project .controls button:hover {
    scale: 1.1;
}
