.title {
    font-size: 20px;
    padding-bottom: 20px;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.nav-section {
    position: relative;
    width: 100%;
    animation-name: appear-from-bottom;
    animation-duration: 0.45s;
}

.nav-section a {
    color: white;
    text-decoration: none;
}

.nav-section li {
    display: inline-block;
    margin: 5px 20px;
}

.nav-section button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #292929;
    cursor: pointer;
    padding: 8px 30px;
    font-size: 15px;
}

.nav-section button:hover {
    background-color: #474747;
}

@media only screen and (max-width: 750px) {
    .nav-section li {
        display: block;
    }
}

@keyframes appear-from-bottom {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0 ,0);
    }
}
