#active-page {
    color: #797979;
}

.name {
    position: relative;
    margin-top: 225px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    animation-name: name-entrance;
    animation-duration: 1s;
}

.cv {
    position: relative;
    font-size: 10px;
    text-align: center;
    letter-spacing: 2px;
    animation-name: cv-entrance;
    animation-duration: 1s;
}

.nav-bar {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    animation-name: nav-bar-entrance;
    animation-duration: 0.45s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar li {
    display: inline-block;
    margin: 0 10px;
    letter-spacing: 3px;
}

.nav-bar a {
    color: black;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #797979;
}

@media only screen and (max-width: 1115px) {
    .nav-bar li {
        display: block;
        margin: 10px 0;
    }
}

@keyframes name-entrance {
    from {
        opacity: 0;
        transform: translate3d(-10%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes cv-entrance {
    from {
        opacity: 0;
        transform: translate3d(10%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes nav-bar-entrance {
    from {
        opacity: 0;
        transform: translate3d(0, 60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}
