#main-container {
    width: 650px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 17px #d8d8d8;
    padding: 35px;
}

#header {
    margin-bottom: 15px;
}

#header h2 {
    font-size: 32px;
}

#header p {
    font-size: 12px;
    color: #707070;
}

#about-picture {
    margin-top: 25px;
}

#about-picture img {
    height: 380px;
    width: auto;
}

#about-picture figcaption {
    font-size: 12px;
}

#name,
.link {
    color: #4865db;
    font-weight: bold;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 715px) {
    #main-container {
        width: 90%;
    }
}

@media screen and (max-width: 415px) {
    #about-picture img {
        width: 100%;
        height: auto;
    }
}
