* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --left-margin-content: 210px;
    --left-margin-content-800: 160px;
    --left-margin-content-500: 110px;
    --link-color: #368FF5;
    --main-container-width: 800px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    position: relative;
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--link-color);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translateY(2px);
}

#nav {
    position: absolute;
    list-style: none;
    right: 10px;
    top: 25px;
}

#nav li {
    display: inline;
    margin: 0 15px;
}

#nav li a {
    text-decoration: none;
}

#nav-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    transition: 75ms;
}

#nav-icon:hover {
    transform: scale(1.1);
}
