.page-intro {
    width: max-content;
    text-align: center;
    margin: 0 auto;
    padding-top: 10%;
}

.name {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(56, 201, 97);
    margin: 0;
}

.type-of-developer {
    font-size: 60px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid rgb(56, 201, 97);
    animation: 
        typing 2s steps(40, end),
        blink-caret 1s step-end infinite;
}

.learn-more {
    background-color: transparent;
    color: rgb(56, 201, 97);
    border-color: rgb(56, 201, 97);
    border-radius: 15px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 30px;
    padding: 8px;
    transition: 0.3s;
}

.learn-more:hover {
    cursor: pointer;
    font-size: 22px;
}

/* Credits to Geoff Craham */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(56, 201, 97); }
}