#svg-container {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    position: absolute;
    width: 800px;
    height: auto;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 800px) {
    #svg-container {
        width: 96%;
    }
}
