* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#navbar {
    width: 100%;
    height: 70px;
    background-color: #4865db;
}

#navbar #selfie {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
}

#navbar-content {
    float: right;
    margin-top: 17px;
    padding: 10px;
    width: 100%;
    height: 50px;
    top: 0;
    position: absolute;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
}

#navbar-content li {
    display: inline-block;
    margin: 0 30px;
    color: #FFFFFF;
    font-weight: bold;
    transition: 0.2s;
    height: 20px;
    width: auto;
    border-radius: 15px;
}

#navbar-content li:hover {
    scale: 1.1;
}

#navbar-content li a {
    color: #FFFFFF;
    text-decoration: none;
}

#mobile-selector {
    display: none;
}

#active-page {
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    padding: 3px 5px;
}

@media screen and (max-width: 1125px) {
    #navbar #selfie {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
}

@media screen and (max-width: 800px) {
    #navbar #selfie {
        display: none;
    }
}
