#main-container {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    position: absolute;
    width: 800px;
    height: auto;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#grid-container {
    width: 500px;
    height: 500px;
}

#note {
    font-weight: normal;
    font-size: 14px;
    color: #797373;
    text-align: center;
    margin: 25px 0;
}

#statistics {
    width: 275px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 525px;
}

#statistics table tr th {
    text-align: left;
}

#statistics table tr {
    line-height: 35px;
}

@media (max-width: 800px) {
    #main-container {
        width: 96%;
    }

    #grid-container {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: auto;
    }

    #canvas {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #statistics {
        margin: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 525px) {
    #canvas {
        width: 100%;
    }
}