#main-container {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    position: absolute;
    width: 800px;
    height: auto;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#grid-container {
    width: 500px;
    height: 500px;
}

#statistics {
    width: 275px;
    position: absolute;
    top: 0;
    margin-left: 525px;
    text-align: center;
}

#statistics table tr {
    line-height: 35px;
}

#statistics table tr th,
#statistics table tr td {
    text-align: left;
    white-space: nowrap;
}

#statistics table tr td {
    position: absolute;
    margin-left: 15px;
}

#statistics table tr td input {
    width: 100%;
}

#estimate {
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

#note {
    margin-top: 30px;
    margin-left: 20px;
    width: 500px;
}

#monte-carlo {
    font-weight: bolder;
}

@media (max-width: 800px) {
    #main-container {
        width: 96%;
    }

    #grid-container {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: auto;
    }

    #canvas {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #statistics {
        margin: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #note {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media (max-width: 525px) {
    #canvas {
        width: 100%;
    }

    #note {
        width: 100%;
        margin-left: 0;
    }
}